{{#if hasDynamicRoutes}}
export default function Page({ params }{{#if isTypeScript}}: { params: { {{#each dynamicRoutes}}{{this}}: string{{#unless @last}}, {{/unless}}{{/each}} } }{{/if}}) {
  const { {{#each dynamicRoutes}}{{this}}{{#unless @last}}, {{/unless}}{{/each}} } = params;

  return (
    <div>
      <h1>Hello World</h1>
      Sample text
    </div>
    );
}
{{else}}
export default function Page() {
  return (
    <div>
      <h1>Hello World</h1>
      Sample text
    </div>
    );
}
{{/if}}